#form-div{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 15.5rem;
}
#first-name-input{
    width: 15.5rem;
    margin:1rem 0 0 0;
}
#submit-button{
    width: 16rem;
    margin:1rem 0 0 0;
    
}
.container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.column{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.square{
    height:200px ;
    width: 600px;
    background-color: #449DD1;
}
.rectangle{
    height:630px ;
    width: 1850px;
    background-color: #449DD1;
    position: absolute;
    top:230px;
    left:35px;
}
.circle{
    height:50px;
    width:50px;
    background-color:#ebe709;
    border-radius: 50%;
    position:absolute;
    top: 260px;
    left:260px;

}
.circle2{
    height:50px;
    width:50px;
    background-color: #ce1370;
    border-radius: 50%;
    position:absolute;
    top: 30px;
    left:770px;
}
.circle3{
    height:150px;
    width:150px;
    background-color: #ce1370;
    border-radius: 50%;
    position:absolute;
    top: 130px;
    left:575px;
}
.circle4{
    height:150px;
    width:150px;
    background-color: #ebe709;
    border-radius: 50%;
    position:absolute;
    top: 30px;
    left:350px;
}
.circle5{
    height:50px;
    width:50px;
    background-color: #ce1370;
    border-radius: 50%;
    position:absolute;
    top: 165px;
    left:150px;
}
.circle6{
    height:50px;
    width:50px;
    background-color: #ce1370;
    border-radius: 50%;
    position:absolute;
    top: 30px;
    left:150px;
}
.rectangle2{
    height:30px ;
    width: 1850px;
    background-color: #7ee69d;
    position: absolute;
    top:870px;
    left:35px;
}
.triangle{
    width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 300px solid #7ee69d;
    position: absolute;
    top:560px;
    left:1485px;
}
.triangle2{
    width: 0;
	height: 0;
	border-left: 300px solid transparent;
	border-right: 300px solid transparent;
	border-bottom: 700px solid #0b6627;
    position: absolute;
    top:160px;
    left:1000px;
}
.oval{
    height: 50px;
    width: 25px;
    background-color: #08f8f8;
    border-radius: 50%;
    position:absolute;
    top:720px;
    left:80px;
}
.oval2{
    height: 50px;
    width: 25px;
    background-color: #08f8f8;
    border-radius: 50%;
    position:absolute;
    top:720px;
    left:180px;
}
.oval3{
    height: 50px;
    width: 25px;
    background-color: #08f8f8;
    border-radius: 50%;
    position:absolute;
    top:720px;
    left:280px;
}
.oval4{
    height: 50px;
    width: 25px;
    background-color: #08f8f8;
    border-radius: 50%;
    position:absolute;
    top:720px;
    left:380px;
}
.oval5{
    height: 50px;
    width: 25px;
    background-color: #08f8f8;
    border-radius: 50%;
    position:absolute;
    top:720px;
    left:480px;
}
.oval6{
    height: 50px;
    width: 25px;
    background-color: #08f8f8;
    border-radius: 50%;
    position:absolute;
    top:720px;
    left:580px;
}
.oval7{
    height: 50px;
    width: 25px;
    background-color: #6f7272;
    border-radius: 50%;
    position:absolute;
    top:720px;
    left:680px;
}
.oval8{
    height: 50px;
    width: 25px;
    background-color: #6f7272;
    border-radius: 50%;
    position:absolute;
    top:720px;
    left:780px;
}
.oval9{
    height: 50px;
    width: 25px;
    background-color: #6f7272;
    border-radius: 50%;
    position:absolute;
    top:720px;
    left:880px;
}
.oval10{
    height: 50px;
    width: 25px;
    background-color: #6f7272;
    border-radius: 50%;
    position:absolute;
    top:720px;
    left:980px;
}
.submit-email{
    position: absolute;
    top:1000px;
    left:700px;

}
.text-input{
    
    width: 15rem;
    margin:.5rem
}
#ty{
    width: 20rem;
    margin:.5rem;
}